@background: #424242;
@background-dark: #232323;

.footer {
  width: 100%;
  height: 60px;
  background-color:@background-dark;
  padding-top: 10px;
}

.footer p {
  padding: 10px;
}

.footer .code-with-love {
  text-align: center;
}

.footer .social-media {
  text-align: right;
}

.footer .social-media i {
  margin: 5px;
}
