html, body {
  height: 100%;
  width: 100%;
  background: #424242;
  color: #FFFFFF;
  /*padding-bottom: 100px;*/
  font-family: 'Open Sans', sans-serif;
}

.accent, a, a:hover, .btn-link, .btn-link:hover {
  color: #C03328;
  /*color: #e60000;*/
}

.list-plain {
  list-style-type: none;
  margin-left: -40px;
}

.faded-text {
  color: #343434;
}

.modal, input {
  color: #000000;
}

.fa-toggle-on {
  color: #11aa11;
  cursor: pointer;
}

.fa-toggle-off {
  color: #aa1111;
  cursor: pointer;
}

.datetimepicker {
  color: #343434;
}

.FourOhFour-box {
  text-align: center;
  font-size: 26px;
}
