.jumbotron-container {
  background: #FFFFFF;
}

.jumbotron {
  background: #FFFFFF;
  height: 200px;
}

.banner-logo {
  width: 200px;
  margin-top: 20px;
}

.announcements-panel {
  text-align: center;
}

.announce-box {
  color: #000000;
}
