@import "global";

.sign-up-container {

  .splash {
    background-image: url("./img/downtown.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
  }

  .splash-text {
    padding: 30px;
    max-width: @large;
    margin: auto;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
       -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
            box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  }

  .splash-header {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 32px;
    text-align: center;
    color: @accent;
  }

  .splash-subheader {
    text-align: center;
    color: #acacac;
  }

  .splash-content {
    text-align: center;
  }

  .splash-nav {
    display: -webkit-flex;
    display: 	   -ms-flex;
    display: 		     flex;
    flex-wrap: wrap;
    align-items: center;
    div {
      cursor: pointer;
      &:hover {
        color: @dark-accent;
      }
    }
  }

  @media only screen and (max-width: @small) {
    .splash {
      padding: 100px 0;
    }
    .splash-text {
      margin: 0;
      text-align: center;
      font-size: @small_font;
    }
    .splash-nav {
      width: 100%;
      margin: 20px auto;
      div {
        flex-basis: 100%;
      }
    }
  }

  @media only screen and (min-width: @small) and (max-width: @large) {
    .splash-text {
      width: 100%;
      margin: auto;
      text-align: center;
      font-size: @small_font;
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.7);
      border-radius: 10px;
      -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
         -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
              box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    }
    .splash-nav {
      width: 500px;
      margin: 20px auto;
      div {
        flex-basis: 33%;
      }
    }
  }

  @media only screen and (min-width: @large) {
    .splash-nav {
      width: 300px;
      margin: 20px auto;
      div {
        flex-basis: 33%;
      }
    }
  }

}


.goto-register-btn, .register-btn {
  color: #FFF;
  margin-top: 10px;
  background-color: @accent;
}

.register-btn {
  width: 120px;
  margin: 10px;
}

.register-btn:hover {
  background-color: @dark-accent-2;
  color: #FFF;
}

.register-btn[data-action="back"]:hover {
  background-color: @accent;
}

.splash-content .btn:hover, .login-btn:hover {
  background-color: @dark-accent;
}

.splash-login {
  display: none;
  margin: auto;
  max-width: 400px;

  #login-btn-group {
    text-align: center;
  }
}

/* -------------------------------------------------------------------------- */

.status-what-container {
  width: 100%;

  .status-what {
    padding-top: 50px;

    .more-questions {
      text-align: center;
      font-size: 18px;
    }

    .blurb {
      div {
        display: -webkit-flex;
        display: 	   -ms-flex;
        display: 		     flex;
        flex-wrap: wrap;
        align-items: center;
      }

      .elem-1 i {
        margin: auto;
      }
    }

  }


  @media only screen and (max-width: @small) {
    .blurb {
      width: 100%;
      padding: 10px;
      margin-bottom: 50px;

      .elem-1, .elem-2, { flex-basis: 100%; }
    }
  }

  @media only screen and (min-width: @small) and (max-width: @large) {
    .blurb {
      width: @small;
      margin: auto;
      margin-bottom: 50px;

      .elem-1 { flex-basis: 22%; }
      .elem-2 { flex-basis: 78%; }
    }
  }

  @media only screen and (min-width: @large) {
    .blurb {
      width: 700px;
      margin: auto;
      margin-bottom: 50px;

      .elem-1 { flex-basis: 15%; }
      .elem-2 { flex-basis: 85%; }
    }
  }
}
