@import "global";

.splash img {
   position: relative;
   width: 100%;
	 -moz-box-shadow:    10px 10px 30px rgba(0,0,0,.5);
	 -webkit-box-shadow: 10px 10px 30px rgba(0,0,0,.5);
	 box-shadow:         10px 10px 30px rgba(0,0,0,.5);
}

.splash-text {
		position: absolute;
		top: 250px;
		left: 50%;
		width: 0;
		height: 0;
		background: rgb(0, 0, 0); /* fallback color */
		background: rgba(0, 0, 0, 0.7);
		border-radius: 10px;
		-moz-box-shadow:    1px 2px 3px rgba(0,0,0,.5);
		-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
		box-shadow:         1px 2px 3px rgba(0,0,0,.5);
}

.splash-header {
		display: none;
		font-family: Tahoma, Geneva, sans-serif;
		font-size: 32px;
		text-align: center;
		color: @accent;
}

.splash-content {
	display: none;
	text-align: center;
}

.goto-register-btn, .register-btn {
	color: #FFF;
	margin-top: 10px;
	background-color: @accent;
}

.register-btn {
	width: 120px;
  margin: 10px;
}

.register-btn:hover {
  background-color: @dark-accent-2;
  color: #FFF;
}

.register-btn[data-action="back"]:hover {
  background-color: @accent;
}

.splash-content .btn:hover, .login-btn:hover {
	background-color: @dark-accent;
}

.login-btn {
  position: absolute;
  left: 20%;
}

.splash-nav {
	margin-top: 30px;
	margin-left: -30px;
	list-style-type: none;
}

.splash-nav li {
	display: inline;
	font-size: 16px;
	margin-right: 10px;
	cursor: pointer;
}

.splash-nav li:last-child {
	margin-right: 0;
}

.splash-nav li:hover {
	color: @dark-accent;
}

.splash-login {
	display: none;
	position: absolute;
	left: 38%;
}

/* -------------------------------------------------------------------------- */

.register-container {
	width: 100%;
	height: 900px;
  	padding-top: 150px;
	background-color: @accent;
}

.register {
	position: relative;
	padding-top: 50px;
	left: 25%;
	width: 50%;
	text-align: center;
}

.register .form-error {
	margin-top: 10px;
	display: none;
}

.register-landing, .register-complete {
  	display: none;
	// position: absolute;
	// margin-left: 25%;
	// width: 50%;
}

.register-hacker {
  	display: none;
	// position: absolute;
	margin-left: 25%;
	width: 50%;
  	margin-bottom: 100px;
}

.register-mentor-1, .register-mentor-2, .register-mentor-3, .register-mentor-4 {
	display: none;
	// position: absolute;
	margin-left: 0;
	width: 100%;
  	margin-bottom: 100px;
}

.language-selection, .framework-selection, .api-selection {
	text-align: left;
	padding-top: 15px;
	padding-left: 45%;
}

._form-group {
	margin: 10px 0;
	width: 100%;
}

._form-group label {
  	font-size: 12px;
	font-weight: normal;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	opacity: 0;
	margin-bottom: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: rgba(75 , 75, 75, 0.5);
	padding: 2px 10px;
}

._form-group input[type="text"],
._form-group input[type="password"] {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  background-color: rgba(75 , 75, 75, 0.5);
  color: #FFFFFF;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

._form-group input[type="text"]:focus,
._form-group input[type="text"].focus,
._form-group input[type="password"]:focus,
._form-group input[type="password"].focus {
  border-bottom: 2px solid @dark-accent-2;
  outline: none;
}

.has-form-error {
  -webkit-box-shadow: 0px 0px 50px 10px darken(@dark-accent-2, 10%);
     -moz-box-shadow: 0px 0px 50px 10px darken(@dark-accent-2, 10%);
          box-shadow: 0px 0px 50px 10px darken(@dark-accent-2, 10%);
}

._checkbox {
  cursor: pointer;
}

._checkbox input {
  margin-right: 5px;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */

.status-what-container {
	width: 100%;
	height: 900px;
}

.status-what {
	position: relative;
	padding-top: 50px;
	top: 100px;
	left: 25%;
	width: 50%;
}

.status-what .sw-icon {
  text-align: center;
}

.status-what .sw-icon i {
  padding-top: 15%;
}

.status-what .row {
  margin-top: 50px;
}

.status-what .row:first-child {
  margin-top: 0;
}
