#race-selection, #gender-selection {
	text-align: left;
	padding-top: 15px;
	padding-left: 25%;	
}

#resume-upload {
	text-align: left;
	margin-left: 10%;
}

#school-level-selection, #travel-origin-type, #diet-selection, #travel-selection {
	// width: 180px;
	// text-align: left;
	margin: auto;
}

#travel-selection {
	width: 250px !important;
}

.school-selection, .zip-code, .international-loc {
	display: none;
}

.register-hacker input[name="Number of Previous Hackathons"] {
	width: 250px;
}