/* CSS declarations go here */
.header {
  background: #424242;
}

body {
  padding-bottom: 40px;
  height: 100%;
}

.jumbotron {
  margin-top: -20px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #424242;
  color: #FFFFFF;
}

.gravatar {
  height: 40px;
  width: 40px;
}

.center-data {
  text-align: center;
}

.commitTableContainer {
  min-height: 600px;
}
