/* CSS declarations go here */
body {
  padding-bottom: 40px;
  height: 100%;
}

.jumbotron {
  margin-top: -20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #424242;
  color: #FFFFFF;
}

.footer p {
  padding: 10px;
}

.gravatar {
  height: 40px;
  width: 40px;
}

.center-data {
  text-align: center;
}

.commitTableContainer {
  min-height: 600px;
}

.date-col { width: 15%; }
.gravatar-col { width: 5%; }
.handle-col { width: 10%; }
.repo-col { width: 15%; }
.message-col { width: 55%; }

.green-circle {
  height: 25px;
  width: 25px;
  background-color: #00FF00;
  border-radius: 20px;
  padding-top:2px;
  padding-left:5px;
  font-weight: bold;
}

.red-circle {
  height: 25px;
  width: 25px;
  background-color: #FF0000;
  border-radius: 20px;
}

.yellow-circle {
  height: 25px;
  width: 25px;
  background-color: #FFFF00;
  border-radius: 20px;
}

.orange-triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid orange;
}

.overlayMessage {
  position: fixed;
  width: 40%;
  height: 30%;
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
  padding: 5%;
  text-align: center;
  color: #000000;
  font-size: 18px;
  background: #ababab;
  border: 3px solid #898989;
  border-radius: 5%;
  left: 30%;
  top: 25%;
  z-index: 99;
}

.msg-header {
  font-weight: bold;
}
