/* GLOBAL =================================================================== */

body {
  height: 100%;
  background: #cdcdcd;
  width: 100%;
}

.content-container {
  background: #cdcdcd;
}

.accent {
  color: #C03328;
}

/* JUMBOTRON ================================================================ */

.jumbotron-container {
  background: #FFFFFF;
}

.jumbotron {
  background: #FFFFFF;
}

.banner-logo {
  width: 20%;
}

.announcements-panel {
  text-align: center;
  padding: 5% 0;
}

/* COMMIT MESSAGES ========================================================== */

.commit-box {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
}

.commit-repo {
  font-size: 32px;
}

.commit-text {
  font-size: 18px;
}

.commit-flag-count {
  float:right;
  font-size: 14px;
}

.commit-flag-count i {
  padding-left: 2px;
  padding-right: 2px;
}

.commit-date {
  color: #cdcdcd;
  float: right;
}

/* ========================================================================== */

.recent-commit-table {
  margin-top: 5%;
}

.footer {
  width: 100%;
  height: 40px;
  margin-bottom: -40px;
}

.footer p {
  padding: 10px;
}

.gravatar {
  height: 40px;
  width: 40px;
}

.center-data {
  text-align: center;
}

.commitTableContainer {
  min-height: 600px;
}

.date-col { width: 15%; }
.gravatar-col { width: 5%; }
.handle-col { width: 10%; }
.repo-col { width: 15%; }
.message-col { width: 55%; }

.green-circle {
  height: 25px;
  width: 25px;
  background-color: #00FF00;
  border-radius: 20px;
  padding-top:2px;
  padding-left:5px;
  font-weight: bold;
}

.red-circle {
  height: 25px;
  width: 25px;
  background-color: #FF0000;
  border-radius: 20px;
}

.yellow-circle {
  height: 25px;
  width: 25px;
  background-color: #FFFF00;
  border-radius: 20px;
}

.orange-triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid orange;
}
