.header {
	background: #424242;
	color: #FFFFFF;
	padding: 5px;
	margin-bottom: 10px;
}

.header-logo {
	width: 20%;
}

.nav-button {
	margin: 5px;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.nav-button-selected {
	color: #CC0000;
}

.nav-button-login {
	float: right;
}

.nav-button-user {
	float: right;
}

.nav-button-logout {
	float: right;
}

.nav-header a {
	text-decoration: none;
	color: #FFFFFF;
}

.nav-header a:hover {
	color: #CC0000
}
