.header {
	color: #FFFFFF;
	padding: 5px;
	margin-bottom: 15px;
}

.header-logo {
	width: 20%;
}

.nav-list {
	margin: 0 auto;
	text-align: center;
	padding: 1em 0;
}

.nav-button {
	display: inline;
	padding: 10px;
	font-size: 20px;
	width: 100px;
	cursor: pointer;
}

.nav-header {
	width: 50%;
	margin: auto;
}

.nav-header a {
	text-decoration: none;
	color: #FFFFFF;
}

.nav-header a:hover {
	color: #efefef;
}

.user-popup {
	display: none;
	position: absolute;
	padding: 10px;
	background: #dfdfdf;
	border-radius: 5px;
}
