body {
  padding-top: 80px;
}

.header {
  background-color: #424242;
  position: absolute;
  top: 0px;
  width: 100%;
}

.footer {
  background-color: #424242;
  position: relative;
  bottom: 0;
  width: 100%;
  color: #FFFFFF;
  height: 50px;
  padding: 20px;
}

.container {
  min-height: 100%;
  position: relative;
}
