<template name="m_commits">

  <div class="row">
    <div class="col-md-12">
      <h4>Recent Commits</h4>

      <p>Each qualified user has up to five votes for each commit message.</p>

      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Repo</th>
            <th>Commit Message</th>
            <th>Number of Flags</th>
            <th>Flag</th>
          </tr>
          {{#each commits}}
            <tr>
              <td>{{repo}}</td>
              <td>{{text}}</td>
              <td>{{total_flags}}</td>
              <td>
                <span id="{{_id}}" class="btn btn-sm btn-success upVoteCommit"><span class="glyphicon glyphicon-thumbs-up"></span></span>
                <span id="{{_id}}" class="btn btn-sm btn-danger downVoteCommit"><span class="glyphicon glyphicon-thumbs-down"></span></span>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Best Commits</h4>

      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Repo</th>
            <th>Handle</th>
            <th>Real Name</th>
            <th>Email</th>
            <th>Commit Message</th>
            <th>Number of Flags</th>
            <th>Flag</th>
          </tr>
          {{#each bestCommits}}
            <tr>
              <td>{{repo}}</td>
              <td>{{committer_handle}}</td>
              <td>{{committer_real}}</td>
              <td>{{committer_email}}</td>
              <td>{{text}}</td>
              <td>{{total_flags}}</td>
              <td>
                <span id="{{_id}}" class="btn btn-sm btn-success upVoteCommit"><span class="glyphicon glyphicon-thumbs-up"></span></span>
                <span id="{{_id}}" class="btn btn-sm btn-danger downVoteCommit"><span class="glyphicon glyphicon-thumbs-down"></span></span>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>

</template>
