<template name="m_mentors">

  <div class="row">
    <div class="col-md-12">
      <h4>Help Queue</h4>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Mentor Dispatched</th>
              <th>Timestamp</th>
              <th>Name</th>
              <th>Location</th>
              <th>Phone</th>
              <th>Issue Tags</th>
              <th>Action</th>
            </tr>
            {{#each mentor_queue}}
              <tr>
                <td>
                  {{#if helped}}
                    <div class="yellow-circle"></div>
                  {{else}}
                    <div class="red-circle"></div>
                  {{/if}}
                </td>
                <td>{{timestamp}}</td>
                <td>{{name}}</td>
                <td>{{loc}}</td>
                <td>{{phone}}</td>
                <td>{{tags}}</td>
                <td>
                  <span id="{{_id}}" class="btn btn-sm btn-danger removeMentorRequest">X</span>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>

        <div class="row">
          <div class="col-md-5" style="text-align:right;">
            <button id="mentorQueuePrev" class="btn btn-default">Prev</button>
          </div>
          <div class="col-md-2" style="text-align:center;">
            Total: {{queue_length}}
          </div>
          <div class="col-md-5">
            <button id="mentorQueueNext" class="btn btn-default">Next</button>
          </div>
        </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Mentors</h4>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Status</th>
            <th>Name</th>
            <th>Company</th>
            <th>Phone</th>
            <th>Trigger Tags</th>
            <th>Start</th>
            <th>End</th>
            <th>Action</th>
          </tr>
          {{#each all_mentors}}
            <tr>
              <td>
                {{#if override }}
                  {{#if available}}
                    <div class="green-circle">O!</div>
                  {{else}}
                    <div class="yellow-circle">O!</div>
                  {{/if}}
                {{else}}
                  {{#if suspended }}
                    <div class="red-circle"></div>
                  {{else}}
                    {{#if available}}
                      <div class="green-circle"></div>
                    {{else}}
                      <div class="yellow-circle"></div>
                    {{/if}}
                  {{/if}}
                {{/if}}


              </td>
              <td>{{name}}</td>
              <td>{{company}}</td>
              <td>{{phone}}</td>
              <td>{{tags}}</td>
              <td>{{startTime}}</td>
              <td>{{endTime}}</td>
              <td>
                <span title="Remove" id="{{_id}}" class="btn btn-sm btn-danger removeMentor">X</span>
                <span title="Override" id="{{_id}}" class="btn btn-sm btn-warning overrideMentor">O</span>
                <span title="Suspend" id="{{_id}}" class="btn btn-sm btn-warning suspendMentor">S</span>
                <!-- <span title="Edit" id="{{_id}}" class="btn btn-sm btn-info editMentor">E</span> -->
                <span title="Clear" id="{{_id}}" class="btn btn-sm btn-success clearMentor">C</span>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <div class="row">
        <div class="col-md-5" style="text-align:right;">
          <button id="mentorListPrev" class="btn btn-default">Prev</button>
        </div>
        <div class="col-md-2" style="text-align:center;">
          Total: {{total_mentors}}
        </div>
        <div class="col-md-5">
          <button id="mentorListNext" class="btn btn-default">Next</button>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Add a New Mentor</h4>
      <div class="row">
        <p>Make sure you are using Chrome so that the input dates are in the correct format (no error checking yet available).</p>
        <p>Press <code>Tab</code> after each skill tag.</p>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputMentorName" class="col-md-3 control-label">Name</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="inputMentorName" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="inputMentorPhone" class="col-md-3 control-label">Phone Number</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="inputMentorPhone" placeholder="603-867-5309">
            </div>
          </div>
          <div class="form-group">
            <label for="inputMentorCompany" class="col-md-3 control-label">Company</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="inputMentorCompany" placeholder="RPI">
            </div>
          </div>
          <div class="form-group">
            <label for="inputMentorStartTime" class="col-md-3 control-label">Start Time</label>
            <div class="col-md-5">
              <input type="datetime-local" class="form-control" id="inputMentorStartTime">
            </div>
          </div>
          <div class="form-group">
            <label for="inputMentorEndTime" class="col-md-3 control-label">End Time</label>
            <div class="col-md-5">
              <input type="datetime-local" class="form-control" id="inputMentorEndTime">
            </div>
          </div>
          <div class="form-group">
            <label for="inputMentorTags" class="col-md-3 control-label">Skill Tags</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="inputMentorTags" />
            </div>
          </div>
          <div id="addMentor" class="btn btn-success col-md-offset-3 col-md-2">Add Mentor</div>
        </form>

        <div id="mentorInputAlertBox"></div>

      </div>
    </div>
  </div>

</template>
