<template name="mentors">

  <div class="row">
    <div class="col-md-12">
      <h3>Mentors</h3>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Status</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Tags</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Add a New Mentor</h3>
      <div class="row">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputMentorName" class="col-md-3 control-label">Name</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="inputMentorName" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="inputMentorPhone" class="col-md-3 control-label">Phone Number</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="inputMentorPhone" placeholder="603-867-5309">
            </div>
          </div>
          <div class="form-group">
            <label for="inputMentorTags" class="col-md-3 control-label">Skill Tags</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="tokenfield" value="" />
            </div>
          </div>
          <div class="btn btn-default col-md-offset-3 col-md-2">Add Mentor</div>
        </form>

        <div id="mentorInputAlertBox"></div>

      </div>
    </div>
  </div>

</template>
