<template name="commits">

  <div class="container">

    <div class="row">
      <div class="col-xs-12">

        {{#each messages}}
          <div class="row">
            <div class="col-xs-1">
              <i class="fa fa-quote-left fa-5x faded-text"></i>
            </div>
            <div class="col-xs-11">
              <div class="commit-box" commitId="{{_id}}">
                <a target="_blank" href="{{repo.homepage}}"
                  style="text-decoration:none;">
                  <i class="fa fa-home fa-2x accent commit-repo-home"></i>
                </a>
                <a target="_blank" href="{{repo.url}}">
                  <span class="commit-repo accent">{{repo.full_name}}</span>
                </a>
                <span class="commit-flag-count {{_id}}">{{total_flags}}
                  <i class="fa fa-thumbs-up accent" data-action="up-vote"></i>
                </span>
                <div class="commit-repo-description">
                  <a target="_blank" href="{{url}}"
                    style="text-decoration:none;">
                    <i class="fa fa-code fa-2x"
                    style="color:{{repo.language.color}};"></i>
                  </a>
                  <span class="commit-repo-color">
                    {{repo.language.name}}</span> -
                  <i>{{repo.description}}</i>
                </div>
                <p class="commit-text">{{text}}</p>
                <a target="_blank"
                  href="https://github.com/{{author.username}}">
                  <span class="commit-handle accent">{{author.username}}</span>
                </a>
                <span class="commit-date">{{fdate}}</span>
              </div>
            </div>
          </div>
        {{/each}}

      </div>
    </div>

  </div>

  {{test}}

</template>
