<template name="commits">

  <div class="container">

    <div class="row">
      <div class="col-xs-12">

        {{#each message}}
          <div class="row">
            <div class="col-xs-1">
              <i class="fa fa-quote-left fa-5x faded-text"></i>
            </div>
            <div class="col-xs-11">
              <div class="commit-box">
                <a href="{{repo_url}}"><span class="commit-repo accent">{{repo}}</span></a>
                <span class="commit-flag-count">{{total_flags}}
                  <i class="fa fa-angle-up accent"></i>
                  <i class="fa fa-angle-down accent"></i>
                </span>
                <p class="commit-text">{{text}}</p>
                <a href="{{committer_url}}"><span class="commit-handle accent">{{committer_handle}}</span></a>
                <span class="commit-date">{{fdate}}</span>
              </div>
            </div>
          </div>
        {{/each}}

      </div>
    </div>

  </div>

</template>
