<template name="footer">

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p>
            &copy; 2014-2015 HackRPI
          </p>
        </div>
        <div class="col-md-4">
          <p class="code-with-love">
            <i class="fa fa-code"></i> with
            <i class="fa fa-heart"></i> on
            <i class="fa fa-github"></i>
          </p>
        </div>
        <div class="col-md-4 social-media">
          <i class="fa fa-2x fa-facebook"></i>
          <i class="fa fa-2x fa-twitter"></i>
          <i class="fa fa-2x fa-instagram"></i>
          <i class="fa fa-2x fa-snapchat"></i>
        </div>
      </div>
    </div>
  </div>

</template>
