<template name="info">

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h2>Important Event Information</h2>
        <!-- <p><a href="http://www.hackrpi.com/assets/info.pdf"><div class="btn btn-link btn-lg">Information Sheet</div></a></p> -->
        <!-- <p>The most detailed event information can be found at the above link.
          Please read it carefully! If you still have any unanswered questions,
          track down a volunteer or request <code>Info</code> <a href="/mentor">here</a></p> -->

        <!-- <p>Further information may also be found at
          <a href="http://www.hackrpi.com">
            <div class="btn btn-link">HackRPI Event Page</div>
          </a>
        </p> -->

        <p>
          Welcome to the Status Board! This is where you will receive event updates, find mentors, 
          and watch commits from all of the projects being developed at HackRPI. More information 
          about HackRPI can be found on the <a href="http://www.hackrpi.com">HackRPI homepage</a>. 
        </p>

        <h3>Important Links</h3>

        <ul>
          <li><a href="http://hackrpi.challengepost.com/">HackRPI Dev Post</a></li>
          <li><a href="http://www.rpi.edu/dept/public_safety/">RPI Public Safety</a></li>
          <li><a href="http://www.rpiambulance.com">RPI Ambulance</a></li>
        </ul>

        <h3>Anonymous Reporting</h3>
        <p>If you encounter any problems during the event that you would like to
          bring to our attention anonymously, please don't hesitate to do so.</p>
        <div class="btn btn-default accent" data-toggle="modal" data-target="#anonReportForm">
          File Anonymous Report
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>About Status Board</h3>
        <p>Status Board is developed with <a href="http://www.meteor.com">Meteor</a> by HackRPI Organizers:
          <ul>
            <li><a href="http://github.com/mpoegel">Matt Poegel (Lead Developer)</a></li>
            <li><a href="https://github.com/leea10">Ariel Lee</a></li>
          </ul>
        </p>

        <p>Status Board is proudly open source and hosted on <a href="http://github.com/mpoegel/HackRPI-Status-Board">Github</a>.
          If you have comments, suggestions, or bug reports let us know! 
          (Specifically, <a href="http://github.com/mpoegel">Matt Poegel</a>, if you can find him.)
        </p>
      </div>
    </div>

  </div>

  {{> anonReportForm }}

</template>
