<template name="mentor">

<div class="container">
  <div class="row">
    <div class="col-md-12">
    <h4>Request a Mentor</h4>
    <p>Do you need help with your project? Just fill out this form and the
    next available mentor will be with you as soon as possible!</p>
    <p>The issue tags are a compiled list of all the skills of all the
    currently active mentors. If what you are looking for is not on the
    list, try something similiar, or wait for a mentor to become active.
    Otherwise, wonder by our sponsor tables and ask for help.</p>
    </div>
  </div>
    
    {{#if mentorsAvailable}}
      <div class="mentor-request-form">
        <div class="alert alert-danger form-error" role="alert"></div>
        <div class="_form-group">
          <label for="Name">Name</label><br>
          <input type="text" name="Name" placeholder="Name" 
            value="{{name}}">
        </div>
        <div class="_form-group">
          <label for="Location">Location</label><br>
          <input type="text" name="Location" placeholder="Room Number/Location"
            value="{{location}}">
        </div>
        <div class="_form-group">
          <label for="Phone Number">Phone Number</label><br>
          <input type="text" name="Phone Number" placeholder="Phone Number"
            value="{{phone}}">
        </div>
        <div class="_form-group">
          <label for="Issue Tag">Issue Tag</label><br>
          <select name="tags">
            <option value="" selected></option>
            {{#each allTags}}
              <option>{{this}}</option>
            {{/each}}
          </select>
        </div>
        <div id="findMentor" class="btn btn-default">
          Request Mentor
        </div>
      </div>
    {{else}}
      <div class="no-mentors">
        <p>Unfortunately, there are no active mentors right now.</p>
      </div>
    {{/if}}

  </div>


</template>
