<template name="navbar">

  <div class="header" role="navigation">
    <div class="nav-header">
      <!-- NAV BUTTONS -->
      <ul class="nav-list">
        <li id="nav-home" class="nav-button"><a href="/">Commits</a></li>
        <li id="nav-mentor" class="nav-button"><a href="/mentor">Mentor</a></li>
        <!-- <li id="nav-data" class="nav-button"><a href="/">Data</a></li> -->
        <li id="nav-info" class="nav-button"><a href="/Info">Info</a></li>
        <li id="nav-user" class="nav-button nav-button-user"><i class="fa fa-user"></i>
        </li>
      </ul>
    </div>
  </div>

  <div class="user-popup accent">
    {{#if currentUser}}
    <a href="/user"><div class="btn btn-primary user-popup-btn">View Profile</div></a>
    <div class="btn btn-primary nav-button-logout user-popup-btn">Logout</div>
    {{else}}
    <a href="/login"><div class="btn btn-primary user-popup-btn">Login</div></a>
    {{/if}}
  </div>

</template>
