<template name="register">

	<div class="register">

		{{> Template.dynamic template=register_page }}

	</div>

</template>


<template name="register_landing">

	<div class="register-landing">
		<p>
			I wanna be...
		</p>
		<div class="btn btn-default register-btn" data-action="init"
				data-target="hacker">
			a hacker.
		</div><br>
		<div class="btn btn-default register-btn" data-action="init"
				data-target="mentor">
			a mentor.
		</div><br>
		<div class="btn btn-default register-btn" data-action="init"
				data-target="theverybest" data-index="0">
			the very best.
		</div>
		<!-- <div class="row">
			<button id="register_volunteer_btn"
				class="btn btn-default register-btn-start">Register as a Volunteer
			</button>
		</div> -->
		<div class="row">
			<div class="btn btn-link">Privacy Policy</div>
		</div>
	</div>

</template>


<template name="register_hacker">

	<div class="register-hacker">
		<div class="alert alert-danger form-error" role="alert"></div>

		<div class="register-hacker-1">
			<h3>Hacker Registration</h3>
			<div class="_form-group">
				<label for="Full Name">Full Name</label><br>
				<input type="text" name="Full Name" placeholder="Full Name">
			</div>
			<div class="_form-group">
				<label for="School">School</label><br>
				<input type="text" name="School" placeholder="School"/>
			</div>
			<div class="_form-group">
				<label for="Email">Email</label><br>
				<input type="text" name="Email" placeholder="Email">
			</div>
			<div class="_form-group">
				<label for="School">School</label><br>
				<input type="text" name="School" placeholder="School"/>
			</div>
			<div class="_form-group">
				<label for="Password">Password</label><br>
				<input type="password" name="Password" placeholder="Password">
			</div>
			<div class="_form-group">
				<label for="Confirm Password">Confirm Password</label><br>
				<input type="password" name="Confirm Password"
					placeholder="Confirm Password">
			</div>
			<div class="_form-group">
				<input name="conduct" type="checkbox"/>
					I agree to the <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf" 
						target="_blank">MLH Code of Conduct.</a><br/>
			</div>
			<div class="_form-group">
				<div class="btn btn-default register-btn" data-action="next"
					data-target=".register-hacker-2">
					Next
				</div>
			</div>
			<div class="btn register-btn" data-action="back"
			 		data-target=".register-landing">
				Back
			</div>
		</div>

		<div class="register-hacker-2">
			<h3>Hacker Registration</h3>
			<h5>Additional Information</h5>
			<div id="bus-selection">
				<label for="bus">Preferred Bus Route (Optional)</label><br/>
				The following bus routes are not yet set in stone.<br/><br/>
				{{#each buses}}
					<label><input name="{{this}}" type="radio">
						{{ this }}</label><br>					
				{{/each}}
			</div>
			<div id="resume-upload" class="_form-group">
				<p><strong>Upload Your Resume</strong></p>
				<input name="resume" type="file"/>
			</div>
			<div class="_form-group">
				<div class="btn btn-default register-btn" data-action="next"
					data-target=".register-hacker-3">
					Next
				</div>
			</div>
			<div class="btn register-btn" data-action="back"
			 		data-target=".register-hacker-1">
				Back
			</div>
		</div>

		<div class="register-hacker-3">
			<h3>Hacker Registration</h3>
			<h5>Additional Information</h5>
			<div id="diet-selection">
				<label class="_checkbox" for="diet">Dietary Restrictions</label><br/>
				{{#each diet}}
					<label><input name="{{this}}" type="checkbox">
						{{ this }}</label><br>					
				{{/each}}
			</div>
			<div class="_form-group">
				<div class="btn btn-default register-btn" data-action="next"
					data-target=".register-hacker-4">
					Next
				</div>
			</div>
			<div class="btn register-btn" data-action="back"
			 		data-target=".register-hacker-2">
				Back
			</div>
		</div>

		<div class="register-hacker-4">
			<h3>Hacker Registration</h3>
			<h5>OPTIONAL Information</h5>
			This data will be anonymous<br/>		
			<div id="gender-selection">
				<label for="gender">Gender</label><br/>
				<input type="radio" name="gender" value="male"/> Male<br/>
				<input type="radio" name="gender" value="female"/> Female<br/>
				<input type="radio" name="gender" value="other"/> Other<br/>
				<input type="radio" name="gender" value=""/> Prefer not to answer<br/>
			</div>
			<div id="race-selection">
				<label for="race">Race</label><br/>
				{{#each races}}
					<label class="_checkbox"><input name="{{this}}" type="checkbox">
						{{ this }}</label><br>					
				{{/each}}
			</div>
			<div class="_form-group">
				<div class="btn btn-default register-btn" data-action="register">
					Register
				</div>
			</div>
			<div class="btn register-btn" data-action="back"
			 		data-target=".register-hacker-3">
				Back
			</div>
		</div>
	</div>

</template>


<template name="register_mentor">

	<div class="register-mentor">

		<div class="register-mentor-1">
			<h3>Mentor Registration</h3>
			<div class="row">
				<div class="col-md-offset-1 col-md-5">
					<div class="_form-group">
						<label for="Email">Email</label><br>
						<input type="text" name="Email" placeholder="Email">
					</div>
					<div class="_form-group">
						<label for="Password">Password</label><br>
						<input type="password" name="Password" placeholder="Password">
					</div>
					<div class="_form-group">
						<label for="Confirm Password">Confirm Password</label><br>
						<input type="password" name="Confirm Password"
							placeholder="Confirm Password">
					</div>
				</div>
				<div class="col-md-5">
					<div class="_form-group">
						<label for="Full Name">Full Name</label><br>
						<input type="text" name="Full Name" placeholder="Full Name">
					</div>
					<div class="_form-group">
						<label for="Affiliation">Affiliation</label><br>
						<input type="text" name="Affiliation" placeholder="Affiliation">
					</div>
					<div class="_form-group">
						<label for="Phone Number">Phone Number</label><br>
						<input type="text" name="Phone Number" placeholder="Phone Number">
					</div>
				</div>
			</div>
			<div class="_form-group">
				<div class="btn btn-default register-btn" data-action="next"
					data-target=".register-mentor-2">
					Next
				</div>
			</div>
			<div class="btn register-btn" data-action="back"
			 		data-target=".register-landing">
				back
			</div>
		</div>

		<div class="register-mentor-2">
			Mentor Registration - Languages
			<div class="language-selection">
				{{#each languages}}
					<label class="_checkbox"><input name="{{this}}" type="checkbox">
						{{ this }}</label><br>
				{{/each}}
			</div>
			<div class="_form-group">
				<div class="btn btn-default register-btn" data-action="next"
					data-target=".register-mentor-3">
					Next
				</div>
			</div>
			<div class="btn register-btn" data-action="back"
			 		data-target=".register-mentor-1">
				back
			</div>
		</div>

		<div class="register-mentor-3">
			Mentor Registration - Frameworks and Libraries
			<div class="framework-selection">
				{{#each frameworks}}
					<label class="_checkbox"><input name="{{this}}" type="checkbox">
						{{ this }}</label><br>
				{{/each}}
			</div>
			<div class="_form-group">
				<div class="btn btn-default register-btn" data-action="next"
					data-target=".register-mentor-4">
					Next
				</div>
			</div>
			<div class="btn register-btn" data-action="back"
			 		data-target=".register-mentor-2">
				back
			</div>
		</div>

		<div class="register-mentor-4">
			Mentor Registration - APIs
			<div class="api-selection">
				{{#each apis}}
					<label class="_checkbox"><input name="{{this}}" type="checkbox">
						{{ this }}</label><br>
				{{/each}}
			</div>
			<div class="_form-group">
				<div class="btn btn-default register-btn">
					Register
				</div>
			</div>
			<div class="btn register-btn" data-action="back"
			 		data-target=".register-mentor-3">
				back
			</div>
		</div>

	</div>

</template>


<template name="register_volunteer">

	<div class="register-panel-title">
		<h2>Volunteer</h2>
	</div>

	<div class="register-panel">
		<form id="register-panel-volunteer" class="form-horizontal" role="form">
			<div id="reg-volunteer-page1">
				<div class="form-group">
					<label for="reg-volunteer-fname" class="col-sm-2 control-label">First Name</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="reg-volunteer-fname">
					</div>
					<label for="reg-volunteer-lname" class="col-sm-2 control-label">Last Name</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="reg-volunteer-lname">
					</div>
				</div>
				<div class="form-group">
					<label for="reg-volunteer-phone" class="col-sm-4 control-label">Phone Number</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="reg-volunteer-phone">
					</div>
				</div>
				<div class="form-group">
					<label for="reg-volunteer-email" class="col-sm-4 control-label">Email</label>
					<div class="col-sm-6">
						<input type="email" class="form-control" id="reg-volunteer-email">
					</div>
				</div>
				<div class="form-group">
					<label for="reg-volunteer-pass1" class="col-sm-4 control-label">Password</label>
					<div class="col-sm-6">
						<input type="password" class="form-control" id="reg-volunteer-pass1">
					</div>
				</div>
				<div class="form-group">
					<label for="reg-volunteer-pass2" class="col-sm-4 control-label">Retype Password</label>
					<div class="col-sm-6">
						<input type="password" class="form-control" id="reg-volunteer-pass2">
					</div>
				</div>
				<div>1 of 2</div>
				<button type="button" class="btn btn-default" id="reg-volunteer-page1-next">Next</button>
			</div>
			<div id="reg-volunteer-page2" class="reg-page-hidden">
				<div class="col-sm-4">
					<label>Select your availability</label>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div id="volunteer-time-grid">
						</div>
					</div>
				</div>
				<div>2 of 2</div>
				<button type="button" class="btn btn-default" id="reg-volunteer-page2-prev">Prev</button>
				<div id="reg-volunteer-submit">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>
	</div>

</template>


<template name="register_complete">
	<div class="register-complete">
		<h3>Registration Successful!</h3>
		<p>
			You have successfully registered with the Status Board for
			HackRPI 2015. You're all set for the event!
		</p>
		<div class="btn btn-default register-btn" data-action="link"
			data-target="/user">
			Profile
		</div>
	</div>
</template>
