<template name="repos">

  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <h4>Enter a new Repository:</h4>
        <form role="form">
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control" id="inputUsername" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="inputRepo">Repo</label>
            <input type="text" class="form-control" id="inputRepo" placeholder="Repo">
          </div>
          <div class="form-group">
            <button id="addRepoBtn" type="button" class="btn btn-default">Submit</button>
          </div>
        </form>
        <div id="repoAlertBox"></div>
      </div>

      <div class="col-md-8">
        <h4>Repo List:</h4>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Owner</th>
              <th>Name</th>
            </tr>
            {{#each names}}
              <tr>
                <td> {{owner}} </td>
                <td> {{name}} </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-5" style="text-align:right;">
            <button id="repoPrev" class="btn btn-default">Prev</button>
          </div>
          <div class="col-md-2" style="text-align:center;">
            Total: {{total}}
          </div>
          <div class="col-md-5">
            <button id="repoNext" class="btn btn-default">Next</button>
          </div>
        </div>
      </div>

    </div>

  </div>

</template>
