<template name="setPassword">
	
	<div class="container set-password-container">
		
		<div class="_form-group">
			<label for="New Password">New Password</label><br>
			<input type="password" name="New Password" placeholder="New Password">
		</div>
		<div class="_form-group">
			<label for="Confirm New Password">Confirm New Password</label><br>
			<input type="password" name="Confirm New Password" placeholder="Confirm New Password">
		</div>
		<div class="btn" data-action="set-password">
			Set New Password</div>
		
	</div>
	
</template>