<template name="register_hacker">
<div class="reactive-container">

	<h3>Hacker Registration</h3>

	<div class="_form-group">
		<label for="Email">Email</label><br>
		<input type="text" name="Email" placeholder="Email">
	</div>

	<div class="_form-group">
		<label for="Password">Password</label><br>
		<input type="password" name="Password" placeholder="Password">
	</div>

	<div class="_form-group">
		<label for="Confirm Password">Confirm Password</label><br>
		<input type="password" name="Confirm Password"
			placeholder="Confirm Password">
	</div>

	<div id="travel-origin-type">
		<h4>Travel Origin</h4>
    <div class="_radio-group">
      <label><input type="radio" name="travel-origin-type" value="United States"/> 
        United States</label>
      <label><input type="radio" name="travel-origin-type" value="International"/> 
        International</label>
    </div>
	</div>

	<div class="_form-group zip-code">
		<label for="Zip Code">Zip Code</label><br>
		<input type="text" name="Zip Code" placeholder="Zip Code"/>
	</div>

	<div class="_form-group international-loc">
		<label for="City, Country">City, Country</label><br>
		<input type="text" name="City, Country" placeholder="City, Country"/>
	</div>

	<div class="_form-group">
		<label for="Full Name">Full Name</label><br>
		<input type="text" name="Full Name" placeholder="Full Name">
	</div>

	<div class="_form-group">
		<label for="Graduation Year">Graduation Year</label><br>
		<input type="number" name="Graduation Year" min="2015" 
			placeholder="Graduation Year">
	</div>

	<div id="school-level-selection">
		<h4>Academic Level</h4>
		<label><input type="radio" name="school-level" value="high school"/> 
			High School</label><br>
		<label><input type="radio" name="school-level" value="college-us"/> 
			College (US)</label><br>
		<label><input type="radio" name="school-level" value="college-ca"/> 
			College (Canada)</label>
		<label><input type="radio" name="school-level" value="college"/> 
			College (Not Listed)</label><br>
	</div>

	<div class="_form-group school-selection">
		<label for="School">School</label><br>
		<input type="text" name="School" placeholder="School"/>
	</div>

	<div class="_form-group us-colleges">
		<select class="school-selection"></select>
	</div>

	<div class="_form-group ca-colleges">
		<select class="school-selection"></select>
	</div>

	<div id="resume-upload" class="_form-group">
		<br>
		<p><strong>Upload Your Resume</strong></p>
		<input name="resume" type="file"/>
	</div>
	
	<br>
	<label class="_checkbox"><input name="conduct" type="checkbox"/>
		I agree to the <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf" 
			target="_blank">MLH Code of Conduct.</a>
	</label><br>

	<div id="travel-selection">
		<h4>Preferred Method of Travel</h4>
		These are <b>tentative</b> bus routes. <br><br/>
		{{#each transportation}}
			<label><input name="bus" value="{{this}}" type="radio">
				{{ this }}</label><br>
		{{/each}}
	</div>

	<h4>T-Shirt Size</h4>
	<div class="_form-group tshirt-size">
		<select name="tshirt-size">
			<option value="" selected></option>
			<option value="Small">Small</option>
			<option value="Medium">Medium</option>
			<option value="Large">Large</option>
			<option value="XLarge">XLarge</option>
			<option value="XXLarge">XXLarge</option>
		</select>
	</div>

	<div id="diet-selection">
		<h4>Dietary Restrictions</h4>
		{{#each diet}}
			<label><input name="diet" value="{{this}}" type="checkbox">
				{{ this }}</label><br>
		{{/each}}
		<div class="_form-group">
			<label for="Other">Other</label><br>
			<input type="text" name="Other" placeholder="Other"/>
		</div>
	</div>

	<div class="_form-group">
		<label for="Github Username">Github Username</label><br>
		<input type="text" name="Github Username" placeholder="Github Username">
	</div>

	<div class="_form-group">
		<label for="LinkedIn Profile">LinkedIn Profile</label><br>
		<input type="text" name="LinkedIn Profile" placeholder="LinkedIn Profile">
	</div>

	<div class="_form-group">
		<label for="Personal Website">Personal Website</label><br>
		<input type="text" name="Personal Website" placeholder="Personal Website">
	</div>
	
	<h4>Interest Areas</h4>
	<div class="_form-group interest-areas">
		<select name="interest-areas" multiple>
			<option value="Frontend">Frontend (UI/UX)</option>
			<option value="Mobile">Mobile</option>
			<option value="Hardware">Hardware</option>
			<option value="Backend">Backend</option>
			<option value="Data Science">Data Science</option>
			<option value="Game Development">Game Development</option>
		</select>
	</div>

	<h4>Why HackRPI?</h4>
	<div class="_form-group why">
		<select name="why">
			<option value="" selected></option>
			<option value="project">To make a cool project</option>
			<option value="explore">To explore new technologies</option>
			<option value="job">To find a job</option>
			<option value="people">To meet new people</option>
		</select>
	</div>
	
	<div class="_form-group">
		<label for="Number of Previous Hackathons">Number of Previous Hackathons</label><br>
		<input type="number" name="Number of Previous Hackathons" min="0"
			placeholder="Number of Previous Hackathons">
	</div>

	<div id="gender-selection">
		<h4>Gender</h4>
		<label><input type="radio" name="gender" value="male"/> Male</label><br>
		<label><input type="radio" name="gender" value="female"/> Female</label><br>
		<label><input type="radio" name="gender" value="other"/> Other</label><br>
		<label><input type="radio" name="gender" value=""/> Prefer not to answer
			</label>
	</div>
	
	<div id="race-selection">
		<h4>Race</h4>
		{{#each races}}
			<label class="_checkbox"><input value="{{this}}" type="checkbox">
				{{ this }}</label><br>					
		{{/each}}
	</div>
	
	<div class="_form-group">
		<div class="btn btn-default register-btn" data-action="register">
			Register
		</div>
	</div>

	<div class="alert alert-danger form-error" role="alert"></div>			

</div>
</template>
