<template name="preregister">

  <div class="content" id="preregister">
    
    <h2>HackRPI 2016</h2>

    <p>
      Are you excited for HackRPI 2016 too? Join the club! And by "club", we
      mean mailing list. Let us know your name, email, and school, and you will
      be among the first notified for when registration opens for real. And by
      letting us know your school, you can help us plan buses! 
    </p>
    
    <!-- Preregistration Form begin -->
    <form action="">
      
      <div class="_form-group">
        <label for="Name">Name</label><br>
        <input type="text" name="Name" placeholder="Name">
      </div>
      <div class="_form-group">
        <label for="Email">Email</label><br>
        <input type="text" name="Email" placeholder="Email">
      </div>
      <div class="_form-group">
        <label for="school">School</label><br>
        <input type="text" class="typeahead" name="School" placeholder="School"
         autocomplete="off" data-source="schools">
      </div>
      <div class="_form-group">
        <button type="button" class="btn btn-default">hype_train.board(self);
          </button>
      </div>
      
      
    </form>
    <!-- Preregistration Form end -->
    
  </div>
  <!-- End Content -->

</template>
