<template name="sign_up">
<div class="sign-up-container">

	<div class="splash-container">

		<div class="splash">
			<div class="splash-text">
				<div class="splash-subheader">November 12-13, 2016</div>
				<div class="splash-header">
					HackRPI 2016 Status Board
				</div>
				<div class="splash-content">
					<a href="/register">
						<div class="btn btn-default register-btn">Register</div>
					</a>
					
					<div class="splash-nav">
						{{ #if currentUser }}
							<div class="splash-nav-btn" data-target="profile">
								Profile
							</div>
						{{ else }}
							<div class="splash-nav-btn" data-target="login">
								Login
							</div>
						{{ /if }}
						<div class="splash-nav-btn" data-target="hackrpi">
							HackRPI
						</div>
						<div class="splash-nav-btn" data-target="status-what">
							Status What?
						</div>
					</div>

				</div>
				<div class="splash-login">
					<div class="_form-group">
						<label for="Email">Email</label><br>
						<input type="text" name="Email" placeholder="Email">
					</div>
					<div class="_form-group">
						<label for="Password">Password</label><br>
						<input type="password" name="Password" placeholder="Password">
					</div>
					<div class="_form-group" id="login-btn-group">
						<div class="btn btn-default login-btn register-btn">
							Login
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="status-what-container">

		<div class="status-what">
			
			<div class="blurb">
				<h3>View Commits from Everyone at HackRPI</h3>
				<div>
					<div class="elem-1">
						<i class="fa fa-5x fa-github"></i>
					</div>
					<div class="elem-2">
						<p>
							By allowing participants to add their Github projects to the
							Status Board, everyone at the event can watch all the other
							projects as they are developed, creating a stronger hackathon
							community through data and statistics.
						</p>
					</div>
				</div>
			</div>

			<div class="blurb">
				<h3>Match with Mentors</h3>
				<div>
					<div class="elem-1">
						<i class="fa fa-5x fa-graduation-cap"></i>
					</div>
					<div class="elem-2">
						<p>
							For when you inevitably get stuck on your project, we have mentors
							ready to assist you! The Status Board makes it really simple to
							request a mentor to your location. Mentors are alerted via text
							message of their assignment and can communicate with the
							Status Board using just text messages.
						</p>
					</div>
				</div>
			</div>

			<div class="blurb">
				<h3>Get Event Updates and Announcements</h3>
				<div>
					<div class="elem-1">
						<i class="fa fa-5x fa-bullhorn"></i>
					</div>
					<div class="elem-2">
						<p>
							Stay updated with event announcements! The Status Board will
							be the primary method of broadcasting updates to everyone
							at the event.
						</p>
					</div>
				</div>
			</div>


			<div class="blurb more-questions">
				<p>Have more questions about HackRPI 2015? 
					<a href="https://www.hackrpi.com">Visit our main page.</a>
				</p>
			</div>

		</div> <!-- END STATUS-WHAT -->

	</div>


</div>

{{ > footer }}

</template>
