<template name="header">

  <!-- Fixed navbar -->
  <div class="navbar navbar-static-top header" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">HackRPI Status Board</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/repos">Repos</a></li>
          <li><a href="/allCommits">Commits</a></li>
          <li><a href="/mentor">Request a Mentor</a></li>
          {{#if isInRole 'admin'}}
            <li><a href="/manage">Page Management</a></li>
          {{/if}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Important Links<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">HackRPI Main Page</a></li>
              <li><a href="#">RPI Public Saftey</a></li>
              <li><a href="#">RPI Ambulance</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

</template>
