<template name="header">

  <div class="header" role="navigation">
    <div class="container">
      <div class="nav-header">
        <!-- NAV LOGO -->
        <a href="/">
          <img class="header-logo" src="img/hackrpi-logo2_solid-red.png">
        </a>
        <!-- NAV BUTTONS -->
        <a href="/">
          <span id="nav-home" class="nav-button">HOME</span>
        </a>
        <a href="/repos">
          <span id="nav-repo" class="nav-button">REPO</span>
        </a>
        <a href="/allCommits">
          <span id="nav-commits" class="nav-button">COMMITS</span>
        </a>
        <a href="/mentor">
          <span id="nav-mentor" class="nav-button">MENTOR</span>
        </a>
        <a href="/info">
          <span id="nav-info" class="nav-button">INFO</span>
        </a>
        <!-- LOG IN BUTTONS -->
        {{#if currentUser}}
          <a href="/">
            <span id="nav-user" class="nav-button nav-button-user">Welcome, {{ currentUserName }}</span>
          </a>
          <a href="/">
            <span id="nav-logout" class="nav-button nav-button-logout">LOG OUT</span>
          </a>
        {{else}}
          <a href="/login">
            <span id="nav-login" class="nav-button nav-button-login">LOG IN</span>
          </a>
        {{/if}}
      </div>
    </div>
  </div>

</template>
