<template name="home">

  {{> jumbotron}}

  <img class="empac-banner" src="img/empac_banner.png" />
  <!-- <img class="empac-banner" src="img/empac_cubes.png" /> -->
  <!-- <img class="empac-banner" src="img/empac.jpg" /> -->


  <div class="container">

    {{> jumbotron}}

    <div class="row">
      <div class="col-xs-12">
        <table class="table recent-commit-table">
          <colgroup>
            <col span="1" class="date-col">
            <col span="1" class="gravatar-col">
            <col span="1" class="handle-col">
            <col span="1" class="repo-col">
            <col span="1" class="message-col">
          </colgroup>
          <thead>
            <tr>
              <th>DateTime</th>
              <th>Gravatar</th>
              <th>Committer</th>
              <th>Repo</th>
              <th>Commit</th>
            </tr>
          </thead>
          <tbody>
            {{> commits }}
          </tbody>
        </table>
      </div>
    </div>

        <!-- <div class="row">
          <div class="col-md-12"> -->
            <!-- goHackRPI Twitter Timeline -->
            <!-- <a class="twitter-timeline"
              href="https://twitter.com/goHackRPI"
              data-widget-id="523304485175558145">
              Tweets by @goHackRPI
            </a>
            <script>
              !function(d,s,id){
                var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                if(!d.getElementById(id)){
                  js=d.createElement(s);
                  js.id=id;
                  js.src=p+"://platform.twitter.com/widgets.js";
                  fjs.parentNode.insertBefore(js,fjs);
                }
              }(document,"script","twitter-wjs");
            </script>
          </div>
        </div> -->

  </div>

  {{> footer}}

</template>
