<template name="info">

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h2>Important Event Information</h2>
        <p><a href=""><div class="btn btn-link btn-lg">Information Sheet</div></a></p>
        <p>The most detailed event information can be found at the above link.
          Please read it carefully! If you still have any unanswered questions,
          track down a volunteer or request <code>Info</code> <a href="/mentor">here</a></p>

        <p>Further information may also be found at
          <a href="http://www.hackrpi.com">
            <div class="btn btn-link">HackRPI Event Page</div>
          </a>
        </p>

        <h3>Important Links</h3>

        <ul>
          <li><a href="http://hackrpi.challengepost.com/">HackRPI Challenge Post</a></li>
          <li><a href="http://www.rpi.edu/dept/public_safety/">RPI Public Safety</a></li>
          <li><a href="http://www.rpiambulance.com">RPI Ambulance</a></li>
        </ul>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>About This Status Board</h3>
        <p>This project was made with <a href="http://www.meteor.com">Meteor</a> by the
          Rensselaer Hackathon Organization.</p>

        <p>The project is hosted on Github <a href="http://github.com/mpoegel/HackRPI-Status-Board">here</a>.
          However, for the event, the repo has been kept private (secrets, my friend).
          It was made in a short time frame, so it may not seem all that well polished... yet.
          If you have comments or suggestions on how to make it better for HackRPI 2015 
          let us know! (Specifically, <a href="http://github.com/mpoegel">Matt Poegel</a>, if you can find him.)
        </p>
      </div>
    </div>

  </div>

</template>
