<template name="manage">

  {{#if isInRole 'manager'}}

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline">
          {{#if isInRole 'flagger'}}
            <li id="showCommits" class="btn btn-link">Flag Commits</li>
          {{/if}}
          {{#if isInRole 'announcer'}}
            <li id="showAnnouncements" class="btn btn-link">Announcements</li>
          {{/if}}
          {{#if isInRole 'admin'}}
            <li id="showRepos" class="btn btn-link">Repositories</li>
          {{/if}}
          {{#if isInRole 'mentor'}}
            <li id="showMentors" class="btn btn-link">Mentors</li>
          {{/if}}
          {{#if isInRole 'admin'}}
            <li id="showUsers" class="btn btn-link">Users</li>
          {{/if}}
        </ul>
      </div>
    </div>

    <div id="m_commits" class="row">
      <div class="col-md-12">
        <h3>Manage Commits</h3>
      </div>

      {{> m_commits}}

    </div>

    <div id="m_announcements" class="row hidden">
      <div class="col-md-12">
        <h3>Manage Announcements</h3>
      </div>

      {{> announcements}}

    </div>

    <div id="m_repos" class="row hidden">
      <div class="col-md-12">
        <h3>Manage Repositories</h3>
      </div>

      {{> m_repos}}

    </div>

    <div id="m_mentors" class="row hidden">
      <div class="col-md-12">
        <h3>Manage Mentors</h3>
      </div>

      {{> m_mentors}}

    </div>

    <div id="m_users" class="row hidden">
      <div class="col-md-12">
        <h3>Manage Users</h3>
      </div>

      {{> m_users}}

    </div>

  </div>

  {{else}}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Sorry, you are not authorized to view this page!</h3>
        If you have credentials, please sign in to view this page.
      </div>
    </div>
  </div>

  {{/if}}

</template>
