<template name="user_hacker">
  {{#if isInRole 'hacker'}}
  <div id="user-hacker">
    <div class="user-section-title">
      <h3>Hacker Dashboard</h3>
    </div>

    <p>
      <i>Leave your mark with the HackRPI Community. </i>
      By adding your repository and joining with your team on the
      Status Board, you will be engaging in the principal aspect
      of the Status Board. By creating a webhook on your repository,
      your commits will be featured on the Status Board.
    </p>
    <p>
      The Status Board is currently only compatible with GitHub
      repositories. If for some reason, your team has elected to
      not use GitHub, then you will be unable to participate in
      this aspect of the Status Board.
    </p>
    
    {{#if pre_event}}
    <div class="pre-event-warning">
      This feature will not be available until the event.
    </div>
    {{else}}
      {{#if repository}}
        <!-- Project Details -->
        <div class="row">
  
            <div class="row repo-details-header-row">
              <div class="col-xs-offset-1">
                <i class="fa fa-group fa-2x"></i>
                <span class="repo-details-header">{{ repository_full }}</span>
              </div>
            </div>
  
          <div class="row">
  
            <div class="col-md-offset-1 col-md-5 repo-details-box">
              <div class="row">
                <a href="{{ repository_url }}" target="_blank">
                  <div class="btn btn-default">
                    <i class="fa fa-github fa-2x"></i>
                    <span class="repo-details">
                      Github Repository
                    </span>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-md-5 repo-details-box">
              <div class="row">
                <div class="btn btn-default">
                  <i class="fa fa-street-view fa-2x"></i>
                  <span class="repo-details">
                    Contributors
                  </span>
                </div>
              </div>
              <p class="repo-details-subtext">
                {{#each teamMembers}}
                <span class="contributor">
                  <a href="https://github.com/{{ this.handle }}" target="_blank">
                    {{ this.handle }}</a></span>
                {{/each}}
              </p>
            </div>
  
          </div>
  
          <div class="row">
  
            <div class="col-xs-offset-1 col-md-5 repo-details-box">
              <div class="row">
                <div class="btn {{ warnDevPost }}" data-toggle="modal"
                  data-target="#edit-DevPost-modal">
                  <i class="fa fa-pied-piper-alt fa-2x"></i>
                  <span class="repo-details">
                    DevPost
                  </span>
                </div>
              </div>
              {{#if devPost}}
              <p class="repo-details-subtext">
                Your DevPost has been linked.
              </p>
              {{else}}
                <p class="repo-details-subtext">
                  Your team has not yet linked the DevPost page for
                  your project. You should put your project on
                  <a href="https://hackrpi.devpost.com" target="_blank">
                    hackrpi.devpost.com</a>
                  as soon as possible.
                </p>
              {{/if}}
            </div>
  
            <div class="col-md-5 repo-details-box">
              <div class="row">
                {{#if hasWebhook}}
                  <div class="btn btn-default">
                    <i class="fa fa-anchor fa-2x"></i>
                    <span class="repo-details">
                      Webhook
                    </span>
                  </div>
                {{else}}
                  <div class="btn btn-warning" data-toggle="modal"
                    data-target="#webhook-modal">
                    <i class="fa fa-anchor fa-2x"></i>
                    <span class="repo-details">
                      Webhook
                    </span>
                  </div>
                {{/if}}
              </div>
              {{#if hasWebhook}}
              <p class="repo-details-subtext">
                A webhook has been created.
              </p>
              {{else}}
                <p class="repo-details-subtext">
                  Your team has not yet setup a webhook for your project. The
                  owner of the repository should do that as soon as possible.
                </p>
              {{/if}}
            </div>
          </div>
  
          <div class="row">
            <div class="col-xs-2 col-xs-offset-5">
              <div class="btn btn-danger" id="user-hacker-leave-repo">
                Leave Project</div>
            </div>
          </div>
  
        </div>
        <!-- End Project Details -->
  
      {{else}}
        <!-- Join Project -->
        <div class="row">
          <form>
            <div class="row form-group">
              <label class="col-xs-offset-3 col-xs-6" for="github-handle-input">
                GitHub Handle</label>
              <div class="col-xs-offset-3 col-xs-6">
                <input type="text" class="form-control" id="github-handle-input">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-xs-offset-3 col-xs-6" for="github-repo-input">
                GitHub Repository URL</label>
              <div class="col-xs-offset-3 col-xs-6">
                <input type="text" class="form-control" id="github-repo-input">
              </div>
            </div>
            <div id="user-hacker-alertbox"></div>
          </form>
          <div class="col-xs-offset-5 col-xs-2">
            <div class="btn btn-primary" id="user-hacker-join-repo">
              Join Project</div>
          </div>
        </div>
        <!-- End Join Project -->
      {{/if}}
    {{/if}}

  </div>

  <div class="modal fade" id="edit-DevPost-modal" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit DevPost Link</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="devPost-input">Enter the URL of your project
                on DevPost.</label>
              <input type="text" class="form-control" id="devPost-input"
                value="{{ devPost }}">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"
            id="user-devPost-save">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="webhook-modal" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Repository Webhook</h4>
        </div>
        <div class="modal-body">
          <p>
            This repository does not yet have webhook. Webhooks allow the Status
            Board to receive updates whenever you push to your repository. Only
            the owner of the repository can setup a webhook.
          </p>
          <p>
            Are you the owner of this repository or the admin of the
            organization that owns this repository?
          </p>
          <button class="btn btn-success" id="github-signin">
            Yes, Sign In With GitHub
          </button>
          <button class="btn" data-dismiss="modal">
            No
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  {{else}}
  <h1>Unauthorized Access</h1>
  {{/if}}
</template>
