<template name="user_hacker">
  {{#if isInRole 'hacker'}}
  <div id="user-hacker">
    <h1>Hacker Dashboard</h1>
    <div class="row">
      <i>Connect with your team.</i> If no one on your team has added your
      repository yet, then you should go ahead and do that now! Otherwise,
      you can join an existing project.*
    </div>
    {{#if repository}}
      <div class="row">
        <div class="col-xs-1 col-xs-offset-4">
          <div class="btn btn-danger" id="user-hacker-leave-repo">Leave Project</div>
        </div>
      </div>
      <div class="row">
        <div class="user-settings-table">
          <div class="row">
            <div class="col-xs-4 user-information-label">GitHub Handle</div>
            <div class="col-xs-8">{{ handle }}</div>
          </div>
          <div class="row">
            <div class="col-xs-4 user-information-label">GitHub Repository</div>
            <div class="col-xs-8">{{ repository }}</div>
          </div>
          <div class="row">
            <div class="col-xs-4 user-information-label">ChallengePost Link</div>
            <div class="col-xs-8">
              {{#if challengePost }}
                <a href="{{ challengePost }}">Link</a>
              {{/if}}
              <div class="btn btn-link" id="user-challengePost-edit" data-toggle="modal" data-target="#edit-ChallengePost-modal">Edit</div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 user-information-label">Team Members</div>
            <div class="col-xs-8">
              {{#each teamMembers }}
                {{ handle }}
              {{/each}}
            </div>
          </div>
          {{#if hasWebhook}}
            <div class="row">
              <div class="">
                <p>
                  This repository has not yet established a webhook. If you are the
                  owner of this repository or an admin of the organization to which
                  this repository, please sign in with GitHub below!
                </p>
                <div class="btn btn-primary" data-toggle="modal"
                  data-target="#webhook-modal">
                  Add Webhook
                </div>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    {{else}}
      <div class="row">
        <form>
          <div class="form-group">
            <label for="github-handle-input">GitHub Handle</label>
            <input type="text" class="form-control" id="github-handle-input">
          </div>
          <div class="form-group">
            <label for="github-repo-input">GitHub Repository URL</label>
            <input type="text" class="form-control" id="github-repo-input">
          </div>
          <div id="user-hacker-alertbox"></div>
        </form>
        <div class="col-xs-1 col-xs-offset-5">
          <div class="btn btn-primary" id="user-hacker-join-repo">Join Project</div>
        </div>
      </div>
    {{/if}}

    <div class="row">
      *Status Board is currently only compatible with GitHub repositories. If
      for some reason, your team has elected to not use GitHub, then you will be
       unable to participate in this aspect of the Status Board.
    </div>
  </div>

  <div class="modal fade" id="edit-ChallengePost-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit ChallengePost Link</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="challengePost-input">Enter a link to your project on ChallengePost! (Set it up now *hint, hint*)</label>
              <input type="text" class="form-control" id="challengePost-input">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="user-challengePost-save">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="webhook-modal" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Repository Webhook</h4>
        </div>
        <div class="modal-body">
          <p>
            This repository does not yet have webhook. Webhooks allow the Status
            Board to receive updates whenever you push to your repository. Only
            the owner of the repository can setup a webhook.
          </p>
          <p>
            Are you the owner of this repository or the admin of the organization
            that owns this repository?
          </p>
          <button class="btn btn-success" id="github-signin">
            Yes, Sign In With GitHub
          </button>
          <button class="btn" data-dismiss="modal">
            No
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  {{else}}
  <h1>Unauthorized Access</h1>
  {{/if}}
</template>
