<template name="user_profile">
  <div id="user-profile">
    <div class="user-section-title">
      <h3>{{ name }} ({{ email }})</h3>
      <div class="btn btn-lg" id="user-profile-edit-btn" title="Edit">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      </div>
    </div>
    {{#if editActive}}
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="UPedit-name" class="col-md-3 control-label">Name</label>
          <div class="col-md-5">
            <input type="text" class="form-control" id="UPedit-name" value="{{ name }}">
          </div>
        </div>
        <div class="form-group">
          <label for="UPedit-affiliation" class="col-md-3 control-label">Affiliation</label>
          <div class="col-md-5">
            <input type="text" class="form-control" id="UPedit-affiliation" value="{{ affiliation }}">
          </div>
        </div>
        <div class="form-group">
          <label for="UPedit-projectname" class="col-md-3 control-label">Phone Number</label>
          <div class="col-md-5">
            <input type="text" class="form-control" id="UPedit-phone" value="{{ phone }}">
          </div>
        </div>
        <div class="form-group">
          <label for="UPedit-location" class="col-md-3 control-label">Room/Location</label>
          <div class="col-md-5">
            <input type="text" class="form-control" id="UPedit-location" value="{{ location }}">
          </div>
        </div>
        <div class="form-group">
          <label for="UPedit-school" class="col-md-3 control-label">School</label>
          <div class="col-md-5">
            <input type="text" class="form-control" id="UPedit-school" value="{{ school }}">
          </div>
        </div>
        <div class="form-group">
          <label for="UPedit-travel-method" class="col-md-3 control-label"><b>Tentative Travel Method</b></label>
          <div class="col-md-5 travel-selection">
            {{#each allTravel}}
              {{#if this.selected}}
                <label><input name="travel-method" value="{{this.route}}" type="radio" checked="checked">
                {{ this.route }}</label><br>
              {{else}}
              <label><input name="travel-method" value="{{this.route}}" type="radio">
                {{ this.route }}</label><br>
              {{/if}}
            {{/each}}
          </div>
        </div>
        {{#if international}}
          <div class="form-group">
            <label for="UPedit-city-country" class="col-md-3 control-label">City, Country</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="UPedit-city-country" value="{{ city_country }}">
            </div>
          </div>
        {{else}}
          <div class="form-group">
            <label for="UPedit-zipcode" class="col-md-3 control-label">Traveling From Zipcode</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="UPedit-zipcode" value="{{ zipcode }}">
            </div>
        </div>
        {{/if}}
        <div class="form-group">
          <label for="UPedit-diet" class="col-md-3 control-label">Dietary Restrictions</label>
          <div class="col-md-5 diet-selection">
            {{#each allDiets}}
              {{#if this.selected}}
                <label><input name="diet" value="{{this.name}}" type="checkbox" checked="checked">
                {{ this.name }}</label><br>
              {{else}}
              <label><input name="diet" value="{{this.name}}" type="checkbox">
                {{ this.name }}</label><br>
              {{/if}}
            {{/each}}
          </div>
        </div>
        <div class="form-group">
          <label for="UPedit-diet-special" class="col-md-3 control-label">Other Diet Restrictions</label>
          <div class="col-md-5">
            <input type="text" class="form-control" id="UPedit-diet-special" value="{{ special_diet }}">
          </div>
        </div>
        <div class="form-group">
          <label for="UPedit-resume" class="col-md-3 control-label">Upload New Resume</label>
          <div class="col-md-5">
            <input name="resume" type="file"/>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-1">
            <button type="click" id="user-profile-save-btn" class="btn btn-primary">Save</button>
          </div>
          <div class="col-sm-offset-1 col-sm-1">
            <button type="click" id="user-profile-cancel-btn" class="btn btn-default">Cancel</button>
          </div>
        </div>
      </form>

    {{else}}
      <p>
        {{#if isInRole 'hacker'}}
          {{#if accepted}}
            {{#if not_confirmed}}
            <b>You have been accepted to HackRPI 2016! 
              <a href="/confirm">Confirm your spot!</a></b>   
            {{/if}}
          {{else}}
          You are still on the waiting list. The waiting list for HackRPI 2016 is FIFO. 
          We will let you know as soon as possible when a spot opens up for you. 
          Hang in there!
          {{/if}}
         {{/if}}
      </p>
      <div class="user-table">
        <div class="row user-table-row">
          <div class="col-xs-offset-3 col-xs-2 user-table-label">Name</div>
          <div class="col-xs-7">{{ name }}</div>
        </div>
        <div class="row user-table-row">
          <div class="col-xs-offset-3 col-xs-2 user-table-label">Affiliation</div>
          <div class="col-xs-7">{{ affiliation }}</div>
        </div>
        <div class="row user-table-row">
          <div class="col-xs-offset-3 col-xs-2 user-table-label">Phone Number</div>
          <div class="col-xs-7">{{ phone }}</div>
        </div>
        <div class="row user-table-row">
          <div class="col-xs-offset-3 col-xs-2 user-table-label">Room/Location</div>
          <div class="col-xs-7">{{ location }}</div>
        </div>
        <div class="row user-table-row">
          <div class="col-xs-offset-3 col-xs-2 user-table-label">School</div>
          <div class="col-xs-7">{{ school }}</div>
        </div>
        <div class="row user-table-row">
          <div class="col-xs-offset-3 col-xs-2 user-table-label">Tentative Travel Method</div>
          <div class="col-xs-7">{{ travel_method }}</div>
        </div>
        {{#if international}}
          <div class="row user-table-row">
            <div class="col-xs-offset-3 col-xs-2 user-table-label">City, Country</div>
            <div class="col-xs-7">{{ city_country }}</div>
          </div>
        {{else}}
          <div class="row user-table-row">
            <div class="col-xs-offset-3 col-xs-2 user-table-label">Traveling From Zipcode</div>
            <div class="col-xs-7">{{ zipcode }}</div>
          </div>
        {{/if}}
        <div class="row user-table-row">
          <div class="col-xs-offset-3 col-xs-2 user-table-label">Dietary Restrictions</div>
          <div class="col-xs-7">{{ diet }}</div>
        </div>
        <div class="row user-table-row">
          <div class="col-xs-offset-3 col-xs-2 user-table-label">Other Dietary Restrictions</div>
          <div class="col-xs-7">{{ special_diet }}</div>
        </div>
        <div class="row user-table-row">
          <div class="col-xs-offset-3 col-xs-2 user-table-label">Resume</div>
          <div class="col-xs-7">
            {{#if resume}}
              <i class="fa fa-check"></i> Resume Uploaded
            {{else}}
              <i class="fa fa-remove"></i> No Resume Uploaded
            {{/if}}
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</template>
