<template name="user_profile">
  <div id="user-profile">
    <div class="user-section-title">
      <h3>{{ name }} ({{ email }})</h3>
      <div class="btn btn-lg" id="user-profile-edit-btn" title="Edit">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      </div>
    </div>
    {{#if editActive}}
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="UPedit-name" class="col-md-3 control-label">Name</label>
          <div class="col-md-5">
            <input type="text" class="form-control" id="UPedit-name" value="{{ name }}">
          </div>
        </div>
        <div class="form-group">
          <label for="UPedit-affiliation" class="col-md-3 control-label">Affiliation</label>
          <div class="col-md-5">
            <input type="text" class="form-control" id="UPedit-affiliation" value="{{ affiliation }}">
          </div>
        </div>
        <div class="form-group">
          <label for="UPedit-projectname" class="col-md-3 control-label">Phone Number</label>
          <div class="col-md-5">
            <input type="text" class="form-control" id="UPedit-phone" value="{{ phone }}">
          </div>
        </div>
        <div class="form-group">
          <label for="UPedit-location" class="col-md-3 control-label">Location</label>
          <div class="col-md-5">
            <input type="text" class="form-control" id="UPedit-location" value="{{ location }}">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-1">
            <button type="click" id="user-profile-save-btn" class="btn btn-primary">Save</button>
          </div>
          <div class="col-sm-offset-1 col-sm-1">
            <button type="click" id="user-profile-cancel-btn" class="btn btn-default">Cancel</button>
          </div>
        </div>
      </form>

    {{else}}
      <div class="user-table">
        <div class="row user-table-row">
          <div class="col-xs-offset-3 col-xs-2 user-table-label">Name</div>
          <div class="col-xs-7">{{ name }}</div>
        </div>
        <div class="row user-table-row">
          <div class="col-xs-offset-3 col-xs-2 user-table-label">Affiliation</div>
          <div class="col-xs-7">{{ affiliation }}</div>
        </div>
        <div class="row user-table-row">
          <div class="col-xs-offset-3 col-xs-2 user-table-label">Phone Number</div>
          <div class="col-xs-7">{{ phone }}</div>
        </div>
        <div class="row user-table-row">
          <div class="col-xs-offset-3 col-xs-2 user-table-label">School</div>
          <div class="col-xs-7">{{ school }}</div>
        </div>
        <div class="row user-table-row">
          <div class="col-xs-offset-3 col-xs-2 user-table-label">Bus Route</div>
          <div class="col-xs-7">{{ bus }}</div>
        </div>
        <div class="row user-table-row">
          <div class="col-xs-offset-3 col-xs-2 user-table-label">Dietary Restrictions</div>
          <div class="col-xs-7">
            {{#each diet}}
              {{this}},&nbsp;
            {{/each}}
          </div>
        </div>        
      </div>
    {{/if}}
  </div>
</template>
