<template name="user_server_settings">
  {{#if isInRole 'admin'}}
  <div id="user-server-settings">
    <div class="user-section-title">
      <h3>Server Settings</h3>
    </div>
    <div class="user-table">

      <div class="row user-table-row">
        <div class="col-xs-3 col-xs-offset-2 user-table-label">Allow Account Creation</div>
        <div class="col-xs-6">
          {{#if allowAccountCreation}}
          <i class="fa fa-toggle-on fa-lg" id="admin-allow-account-creation-off-btn"></i>
          {{else}}
          <i class="fa fa-toggle-off fa-lg"  id="admin-allow-account-creation-on-btn"></i>
          {{/if}}
        </div>
      </div>

      <div class="row user-table-row">
        <div class="col-xs-3 col-xs-offset-2 user-table-label">Activate Mentoring System</div>
        <div class="col-xs-6">
          {{#if mentoringSystemStatus}}
          <i class="fa fa-toggle-on fa-lg" id="admin-mentoring-off-btn"></i>
          {{else}}
          <i class="fa fa-toggle-off fa-lg"  id="admin-mentoring-on-btn"></i>
          {{/if}}
        </div>
      </div>

      <div class="row user-table-row">
        <div class="col-xs-3 col-xs-offset-2 user-table-label">Alert Numbers</div>
        <div class="col-xs-6">
          <ul class="list-plain">
            {{#each alertNumbers}}
              <li>{{this}}<span class="alert-num-remove" value="{{this}}">
                &times;</span></li>
            {{/each}}
          </ul>
          <input type="text" name="alertNum-input" id="alertNum-input">
          <div class="btn btn-primary btn-sm" id="add-alert-number-btn">Add</div>
        </div>
      </div>

      <div class="row user-table-row">
        <div class="col-xs-3 col-xs-offset-2 user-table-label">
          Event Stage
        </div>
        <div class="col-xs-6">
          {{# each stage}}
            <div class="radio">
              <label>
                {{# if checked }}
                  <input type="radio" name="event-stage" class="event-stage"
                    value="{{ value }}" checked>
                {{ else }}
                <input type="radio" name="event-stage" class="event-stage"
                  value="{{ value }}">
                {{/ if}}
                {{ name }}
              </label>
            </div>
          {{/ each}}
        </div>
      </div>

    </div>
  </div>
  {{else}}
  <h1>Unauthorized Access</h1>
  {{/if}}
</template>
