<template name="user">

<div class="container">

  <div class="row">

    {{#if currentUser}}
      <!-- Sidebar -->
      <div class="col-xs-2 user-sidebar">
        <ul class="user-nav-list">
          <li class="user-sidebar-btn" value="profile">
            <i class="fa fa-user"></i>
            Profile
          </li>

          {{#if isInRole 'hacker'}}
          <li class="user-sidebar-btn" value="hacker">
            <i class="fa fa-code"></i>
            Hacker
          </li>
          {{/if}}

          {{#if isInRole 'mentor'}}
          <li class="user-sidebar-btn" value="mentor">
            <i class="fa fa-university"></i>
            Mentor
          </li>
          {{/if}}

          {{#if isInRole 'volunteer'}}
          <li class="user-sidebar-btn" value="volunteer">
            <i class="fa fa-users"></i>
            Volunteer
          </li>
          {{/if}}

          {{#if hasAnnouncerAccess}}
          <li class="user-sidebar-btn" value="announcements">
            <i class="fa fa-bullhorn"></i>
            Announcements
          </li>
          {{/if}}

          {{#if isInRole 'admin'}}
          <li class="user-sidebar-btn" value="database">
            <i class="fa fa-database"></i>
            Databases
          </li>
          <li class="user-sidebar-btn" value="server-settings">
            <i class="fa fa-cogs"></i>
            Server Settings
          </li>
          {{/if}}
        </ul>

      </div>

      <!-- Content -->
      <div class="col-xs-10 user-content">

        {{> Template.dynamic template=user_page}}

      </div>
    {{else}}

      <p>Please <a href="/login">login</a> to view your profile.</p>

    {{/if}}

  </div>

</div>

</template>
