<template name="m_users">

  <div class="row">
    <div class="col-md-12">
      <h3>Users</h3>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Action</th>
          </tr>
          {{#each allUsers}}
            <tr>
              <td>{{username}}</td>
              <td>
                {{#each emails}}
                  {{address}}
                {{/each}}
              </td>
              <td>{{roles}}</td>
              <td>
                <span title="Remove" id="{{_id}}" class="btn btn-sm btn-danger removeUser">X</span>
                <span title="Edit" id="{{_id}}" class="btn btn-sm btn-info editUser">E</span>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Add User</h3>

      <div class="row">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputUsername" class="col-md-3 control-label">Username</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="inputUsername" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="inputUserReal" class="col-md-3 control-label">Real Name</label>
            <div class="col-md-5">
              <input type="text" class="form-control" id="inputUserReal" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="inputUserEmail" class="col-md-3 control-label">Email</label>
            <div class="col-md-5">
              <input type="email" class="form-control" id="inputUserEmail" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="inputUserRoles" class="col-md-3 control-label">Roles</label>
            <div class="col-md-5">
              <select id="inputUserRoles" multiple class="form-control">
                {{#each allRoles}}
                  <option>{{name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputUserPass" class="col-md-3 control-label">Password</label>
            <div class="col-md-5">
              <input type="password" class="form-control" id="inputUserPass" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="inputUserPass2" class="col-md-3 control-label">Confirm Password</label>
            <div class="col-md-5">
              <input type="password" class="form-control" id="inputUserPass2" placeholder="">
            </div>
          </div>
          <div id="addUser" class="btn btn-success col-md-offset-3 col-md-2">Add User</div>
        </form>
      </div>

      <div id="addUserAlertbox"></div>

    </div>
  </div>

</template>
